pandas
numpy
seaborn
matplotlib
tensorflow
scikit-learn
google-auth
google-cloud-storage
notebook
jupyter
nltk
TensorFlow
transformers
torch
langdetect

# API
fastapi
pytz
uvicorn

# tests
httpx
pytest-asyncio


streamlit

openAI
